[Unit]
Description=Audio Server Service
After=mpv.service
Requires=mpv.service

[Install]
WantedBy=wpa_supplicant.service

[Service]
ExecStart=/usr/bin/audioServer 0.0.0.0 80 /var/audioserver

Restart=always
RestartSec=2

