[Unit]
Description=Audio Server Service

[Install]
After=hostapd.service
Requires=hostapd.service

[Service]
ExecStart=/bin/audioServer 0.0.0.0 8080 /var/audioserver

Restart=no

