[Unit]
Description=mplayer handler
After=hostapd.service

[Install]
WantedBy=audioServer.service
# WantedBy=multi-user.target

[Service]
ExecStart=/bin/mpv --no-video --idle=yes --input-ipc-server=/tmp/mpvsocket --audio-device=alsa/default:CARD=0

Restart=always
RestartSec=2

